	body{
  display: block;
  background: #fff;
}
header {
  background-color: #380577; 
  color: MediumSlateBlue;
  padding: 1rem;
  text-align: center; 
font-family: Modern, Monotype Corsiva; }

main {
  background: coral;
 }
 
footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}
h1 { text-align: center; font-family: Modern, Monotype Corsiva; color: MediumSlateBlue}
h2,h3{ font-family: Modern, Monotype Corsiva; color: MediumSlateBlue}
p,li{text-align: justify; font-family: Arial, sans-serif; color: blue}
a { text-align: center; font-family: Modern, Monotype Corsiva; color: LightCyan}

#panorama {
    width: 100%;
    height: 60px;
	margin: auto;
    overflow:hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3), 0 16px 20px rgba(0,0,0,0.2);
}
#panorama div {
    position:absolute;
    user-select: none;
    overflow:hidden;
}
#mainnav a:hover{text-decoration: underline;}
#mainnav li.active a{font-weight: bold;}

.header{
  background: #380577;
  width: 100%;
  height: 500px;
  text-align: center;
  font-family: Modern, Monotype Corsiva;
  margin-bottom: 10px;
}
.main{
  display: flex;
  width: 100%;
  height: 1024px;
}
.content{
  background:  coral;
  width: 75%;
  height: 100%;
  text-align: center;
}
.parent{
  display: block;
  width: 25%;
  height: 100%;
}
.float{
  background: #FF5722;
  color: #fff;
  margin: 10px;
  padding: 10px;
  position: sticky;
  top: 0;
}
.footer{
  background: wheat;
  width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}

.hamburger {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 5px;
  border:none;
}
.btn__hamb {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
    cursor: pointer; 
}
  .btn__hamb div {
    width: 100%;
    height: 100%; 
    background: #0E7318;
}
  .btn__hamb:before, .btn__hamb:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #0E7318; 
}
  .btn__hamb:before {
    top: -8px; 
}
  .btn__hamb:after {
    top: 8px; 
}
/*Конец - базовые стили*/
/****************************/

/*зеленая кнопка с рамкой*/
.hamburger-border--green{
  border: 1px solid #0E7318;
  border-radius: 8px; 
}
